<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989510512720-j386ds84i4qa0pacjb1c9kpjburuloka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989510512720-j386ds84i4qa0pacjb1c9kpjburuloka</string>
	<key>API_KEY</key>
	<string>AIzaSyCBPsveNAWMiPGYhDifg3zM_vc1p6q73BU</string>
	<key>GCM_SENDER_ID</key>
	<string>989510512720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fydtechnologies.verifydStore</string>
	<key>PROJECT_ID</key>
	<string>verifyd-store-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>verifyd-store-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989510512720:ios:5f065502df0c154650a155</string>
</dict>
</plist>